<h1 class="page-header">Add an Album</h1>

  <form class="form-group album-create-form" action="/albums" method="post">
    <div class="form-padding">
      <label for="album">Enter Album Title</label>
      <input id="album" name="album" type="text" class="form-control" placeholder="Sgt. Pepper's Lonely Hearts Club Band">
    </div>
    <div class="form-padding">
      <label for="artist">Enter Artist</label>
      <input id="artist" name="artist" type="text" class="form-control" placeholder="The Beatles">
    </div>
  <div class="column col-lg-12">
    <div class="column col-md-6 btn-group-album">
     <button class="btn btn-primary" type="submit">Send</button>
  </form>
    </div>
    <div class="column col-md-6 btn-group-album">
    <form action="/">
     <button class="btn btn-primary" type="submit">Home</button>
    </form>
   </div>
  </div>
</div>
