<h1 class="page-header">Welcome to the CD Organizer</h1>

<div class="column col-md-4">
  <form action='/albums/new' class='form-button'>
    <div class='btn-group-index'>
      <button type="submit" class="btn btn-primary">Add an Album</button>
    </div>
  </form>
</div>

<div class="column col-md-4">
  <form action='/albums' class='form-button'>
    <div class='btn-group-index'>
      <button type="submit" class="btn btn-primary">Album List</button>
    </div>
  </form>
</div>

<div class="column col-md-4">
  <form action='/artists' class='form-button'>
    <div class='btn-group-index'>
      <button type="submit" class="btn btn-primary">Artist List</button>
    </div>
  </form>
</div>
