<!DOCTYPE html>
<html>
<head>
  <title>CD Organizer</title>
  <link href="/bootstrap" rel="stylesheet" type="text/css">
  <link href="/style" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container main-container">
    <%= yield %>
  </div>
</body>
</html>
