<!DOCTYPE html>
<html>
<head>
  <title>CD Organizer</title>
  <link href="/css/animate.min.css" rel="stylesheet" type="text/css">
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/css/creative.css" rel="stylesheet" type="text/css">
  <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container main-container">
    <%= yield %>
  </div>
</body>
</html>
